<div class="navbar">
    <h1>Welcome @Context.Session.GetString("UserName")!</h1>
    <nav>
        <a asp-action="Index" asp-controller="Wedding">Home</a>
        <a asp-action="New" asp-controller="Wedding">Plan a Wedding</a>
        <a asp-action="Logout" asp-controller="Login">Logout</a>
    </nav>
</div>