* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
}

.partials {
    display: flex;
    justify-content: space-between;
}

span {
    color: red;
}

.userform {
    display: flex;
    flex-direction: column;
}

.userform> :first-child {
    font-size: 2em;
    font-weight: 900;
}

.blocks {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.logout {
    display: flex;
    justify-content: end;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    font-weight: 900;
    font-size: 5em;
}

.btn1 {
    height: 3.5em;
    width: 9em;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    background-color: white;
    color: black;
}

.btn1:active {
    /* X, Y, blur, color*/
    box-shadow: 2px 2px 2px black;
    transform: translateZ(5px);
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid black;
    margin-bottom: 2em;
    padding: 1em;
}
table {
    width: 100%;
}
td button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: underline;
    color: blue;
}
table tbody tr td {
    background-color: #f2f2f2;
    padding: 9px;
    text-align: left;
}

table thead tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cccccc;
    color: black;
    padding: 9px;
}

.listguest{
    width: 10em;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
}
.formWedding{
    width: 20em;
}
.formWedding > *{
    margin-top: 0.5em;
}
.formWedding p{
    font-weight: 900;
    font-size: 2em;
}
nav a{
    font-size: 2em;
}